<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header th:insert="parts/menu :: navbar"></header>
<h3 class="text-center lh-base p-4 mt-5">Рейтинг поставщиков</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Рейтинг доставки</th>
            <th>Рейтинг цены</th>
            <th>Рейтинг надежности</th>
            <th>Основной рейтинг</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iterStat : ${rating}"
            th:style="${iterStat.odd}? 'font-weight: bold;'">
            <td th:text="${iterStat.index}+1"></td>
            <td th:text="${item.priceRating}"></td>
            <td th:text="${item.deliveryRating}"></td>
            <td th:text="${item.reliabilityRating}"></td>
            <td th:text="${(item.priceRating + item.deliveryRating + item.reliabilityRating) / 3}"></td>
        </tr>
        </tbody>

    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer th:insert="parts/footer :: footer"></footer>
</body>
</html>